{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block body %}
<div class="container">
    {% include('catalog/products.html.twig') %}

    <hr>

    {% include('catalog/posts.html.twig') %}
</div>
{% endblock %}